# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver: pdo_pgsql
    database_host: 127.0.0.1
    database_port: null
    database_name: datanalyser
    database_user: postgres
    database_password: null
    secret: 184886e1633a53026440393c55c5c6135842959c5311f671f79f0b6ee3c0525e
    locale: fr_FR